@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700&display=swap');


main {
  display: flex;
}

body {
  margin: 0 auto;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  text-decoration: none;
}

section {
  width: 100%;
  margin-top: 5.6875rem;
  margin-left: 7.3125rem;
  padding-top: 2rem;
}

img {
  width: 100%;
  height: auto;
}
